<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<div class="divmere">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../image/sapindenoel.jpg" class="d-block w-100" alt="noel" style="border-radius: 5px;">
      <p>  Place à l'évenement de Noel ! qui se déroulera du 25 octobre au 5 novembre ! </p>
      </div>
      <div class="carousel-item">
        <img src="../image/1331268-joyeux-halloween-du-chateau-effrayant-gratuit-vectoriel.jpg" alt="halloween"
          class="d-block w-100" style="border-radius: 5px;">
       <p>   Place à l'évenement d'Halloween ! qui se déroulera du 25 octobre au 5 novembre ! </p>
      </div>
      <div class="carousel-item">
        <img src="../image/adobestock-330862653.jpeg" class="d-block w-100" alt="paques"
          width="auto" style="border-radius: 5px;">
          <p>   Place à l'évenement de Pâques ! qui se déroulera du 25 octobre au 5 novembre ! </p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</body>

</html>